@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

h1 {
	font-family: 'Berkshire Swash', cursive;
	color: #1F1F1F;
}

p {
	font-family: 'Righteous', cursive;
	color: #1F1F1F;
}

body {
	background-color: #9F889F;
}

#title {
	text-align: center;
}

#description {
	text-align: center;
}

fieldset {
	border: none;
	padding: 2rem 0;
	border-bottom: 3px dotted #433743;
}

label {
	display: block;
	margin: 0.5rem 0;
	font-family: 'Righteous', cursive;
	color: #1F1F1F;

}

input {
	border: none;
	border-radius: 4px;
}

#submit {
	display: block;
	width: 30%;
	margin: 1em auto;
	height: 2em;
	font-size: 1.1rem;
	background-color: #7168A1;
	color: #FFFFF2;
	border-color: #FFFFF2;
	min-width: 10px;
	font-family: 'Fira Sans', sans-serif;
}